body {
  font-family: Arial, sans-serif;
  width: 400px;
  margin: 0;
  padding: 1rem;
  background-color: #1f1f1f;
  color:white;
  display:flex;
  flex-direction: column;
  gap:1rem;
}

h1 {
  color: #f5f5f5;
  margin-bottom: 10px;
}

textarea {
  width: calc(100% - 10px);
  height: 60px;
  background-color: #3a3a3a;
  border-radius:5px;
  color:white;
  padding:10px 0px 10px 10px;
}

.flex{
  display:flex;
  align-items:center;
}

label {
  display: block;
}

input[type="range"] {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1e88e5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1976d2;
}

#result {
  max-height: 200px;
  overflow-y: auto;
  font-size:14px;
  padding:5px;
  line-height:1.4;
}

/* For Webkit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #1e88e5;
  border-radius: 5px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1e88e5 #333;
}